button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.75rem;
  border-width: 1px;
  text-align: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

button:hover {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  filter: brightness(1.25);
}

button:disabled {
  background-color: #737373;
  border-color: #737373;
  color: #e5e5e5;
  cursor: not-allowed;
}

.AnimatedTitle-module_title__GTuKe {
  background: linear-gradient(270deg, #ff7669 0, hsla(5, 79%, 81%, 0.95) 5%, hsla(0, 0%, 100%, 0.95) 10%, hsla(0, 0%, 100%, 0.95) 90%, hsla(5, 79%, 81%, 0.95) 95%, #ff7669);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200% 100%;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  opacity: 1;
  -webkit-text-fill-color: transparent;
  animation: AnimatedTitle-module_masked-animation__W7cTq 5s linear infinite;
}

@keyframes AnimatedTitle-module_masked-animation__W7cTq {
  0% {
    background-position: 20% 0;
  }
  to {
    background-position: -120% 0;
  }
}